<div class="form-floating mb-3">
    <input class="form-control" id="titleInput" placeholder="Dale un titulo al post">
    <label for="floatingInput">Titulo</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" id="urlInput" placeholder="Dale un titulo al post">
    <label for="floatingInput">URL Imagen</label>
</div>
<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="contentTextarea"
        style="height: 50vh"></textarea>
    <label for="floatingTextarea2">Contenido</label>
</div>
<div class="pt-3">
    <button type="button" class="btn btn-success">Crear</button>
    <button type="button" class="btn btn-outline-secondary">Volver</button>


</div>
